/** {
  border: black solid 2px;
}*/

body {
  background-color: #717B7F;
  font-family: 'Raleway', sans-serif;
}

#content {
  background-color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.button {
  background-color: #333333;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 5px auto;
  padding: 8px;
}

.button:hover {
  background-color: #48acb5;
}
