/** {
  border: black solid 2px;
}*/

body {
  background-color: #94D4FF;
  font-family: 'Raleway', sans-serif;
}

#content {
  background-color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.button {
  background-color: grey;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin: 5px auto;
  padding: 8px;
}

.button:hover {
  /*background-color: #94D4FF;*/
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
