<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>
  <link rel="stylesheet" href="/static/main.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:600,400,300" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="content">
    {{{body}}}
    <button id="submit" class="button">SUBMIT</button>
    <a href="/settings">SETTINGS</a>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>
