<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:600,400,300" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="content">
    <!-- <h3>Please Login via <a href="/login"> Github! </a></h3> -->
    <div id="input">
    </div>

    <button id="settings" class="button">SETTINGS</button>

  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>
