<!DOCTYPE html>
<html>
<head>
	<title>SETTINGS</title>
  <link rel="stylesheet" href="/static/css/settings.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:600,400,300" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="content">
    {{{body}}}
		<div id="addSubtract">
			<button id="subtract" class="button">-</button>
		  <button id="add" class="button">+</button>
		</div>
		<button id="home" class="button">HOME</button>
		<button id="submit" class="button">SUBMIT</button>
  </div>

  <button id="subtract" class="button">-</button>
  <button id="addText" class="button">+</button>
  <button id="submit" class="button">SUBMIT</button>
  <button id="home" class="button">HOME</button>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/settings.js"></script>
</body>
</html>
