<!DOCTYPE html>
<html>
<head>
	<title>SETTINGS</title>
  <link rel="stylesheet" href="/static/css/settings.css">
</head>
<body>
  <div id="content">
    {{{body}}}
  </div>

  <button id="subtract" class="button">-</button>
  <button id="add" class="button">+</button>
  <button id="submit" class="button">SUBMIT</button>
  <a href="/">HOME</a>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/settings.js"></script>
</body>
</html>